<%- include('partials/header'); -%>

<header>
	<div class="nutrition">
		<img
			src="/nutrition.png"
			alt=""
		/>
	</div>
	<div class="headings">
		<h2>Nutrition and Diet Plans</h2>
		<h3>Guiding You Towards a Healthier Lifestyle</h3>
		<a
			href="/nutrition-plans"
			class="btn"
			>Explore Plans</a
		>
	</div>
</header>

<%- include('partials/footer'); -%>
