<%- include('partials/header'); -%>

<ul class="nutrition-plans">
	<li class="plan">
		<img
			src="/plan.png"
			alt="keto nutrition plan icon"
		/>
		<h4>Keto Plan</h4>
		<p>High fat, low carb</p>
	</li>
	<li class="plan">
		<img
			src="/plan.png"
			alt="paleo nutrition plan icon"
		/>
		<h4>Paleo Plan</h4>
		<p>Fruits, vegetables, lean meats</p>
	</li>
	<li class="plan">
		<img
			src="/plan.png"
			alt="vegan nutrition plan icon"
		/>
		<h4>Vegan Plan</h4>
		<p>Plant-based diet</p>
	</li>
	<li class="plan">
		<img
			src="/plan.png"
			alt="mediterranean nutrition plan icon"
		/>
		<h4>Mediterranean Plan</h4>
		<p>Fruits, vegetables, olive oil, nuts</p>
	</li>
	<li class="plan">
		<img
			src="/plan.png"
			alt="gluten-free nutrition plan icon"
		/>
		<h4>Gluten-Free Plan</h4>
		<p>Avoidance of gluten-containing foods</p>
	</li>
	<li class="plan">
		<img
			src="/plan.png"
			alt="low-carb nutrition plan icon"
		/>
		<h4>Low-Carb Plan</h4>
		<p>Reduced intake of carbohydrates</p>
	</li>
</ul>

<%- include('partials/footer'); -%>
